/* src/styles/RecuperarContrasena.css */
.recuperar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 40px; /* Aumenta el tamaño del padding */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Aumenta el ancho máximo */
    margin: 0 auto;
}

.recuperar-title {
    font-size: 28px; /* Aumenta el tamaño de la fuente */
    margin-bottom: 30px; /* Aumenta el margen inferior */
}

.recuperar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recuperar-input {
    width: 100%;
    max-width: 400px; /* Aumenta el ancho máximo del input */
    padding: 15px; /* Aumenta el padding */
    margin-bottom: 20px; /* Aumenta el margen inferior */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; /* Aumenta el tamaño de la fuente */
}

.recuperar-button {
    width: 100%;
    max-width: 400px; /* Aumenta el ancho máximo del botón */
    padding: 15px; /* Aumenta el padding */
    background-color: #8BC34A; /* Verde limón */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
}

.recuperar-button:hover {
    background-color: #73a13f; /* Verde un poco más oscuro */
}

.recuperar-message {
    margin-top: 20px;
    color: #333;
    font-size: 16px; /* Aumenta el tamaño de la fuente */
}
